:root{
    --main-color:#11b011;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #f3f3f3;
    color: #000;
    font-family: sans-serif;
}
/* loading */
.loading,
.loading-close{
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.loading-close{
    display: none;
}
/* title  */
.title{
    text-align: center;
    margin: 30px 0;
}
.title h3{
    color: var(--main-color);
    text-transform: uppercase;
    padding: 7px 20px;
}
.title h3 span{
    background-color: #11b011;
    color: #fff;
    padding: 7px 15px ;
    position: relative;
}
.title h3 span::before,
.title h3 span::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: calc(100% - 20px);
    border: 10px solid;
    border-color: transparent transparent transparent #fff;
}
.title h3 span::after{
    right: 0;
    border-color: transparent #fff transparent transparent;
}
.title h1{
    padding: 10px;
}
/* header style */
header{
    height: 1.8cm;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1cm;
    box-shadow: 0 0  10px rgba(0, 0, 0, 0.212);
    position: sticky;
    top: .1px;
    z-index: 100;
}
header .logo img{
    width: 100px;
}
header .bar-icon{
    font-size: 25px;
    cursor: pointer;
    color: var(--main-color);
    display: none;
}
header .items-linkes ul{
    display: flex;
    gap:0 10px;
    list-style: none;
}
header .items-linkes ul a{
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 7px;
    transition: all .5s;
    color: #000;
}
header .items-linkes ul a:hover,
header .items-linkes ul .active{
    background-color: var(--main-color);
    color: #fff;
}
header .items-online{
    display: flex;
    align-items: center;
    gap: 10px;
}
header .items-online div{
    font-size: 22px;
    cursor: pointer;
}
header .items-online .search{
    color: var(--main-color);
}
header .items-online .fav{
    color: red;
}
header .items-online span{
    font-size: 35px;
}
header .items-online .count-cart{
    font-size: 17px;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 26px;
    top: 7px;
}
/* slide  */
/* my style and edit */
.carousel-item .bg1,
.carousel-item .bg2,
.carousel-item .bg3{
    /* background-image: url(images/bg1slide.webp); */
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 1.8cm);
    background-color: #f3f3f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1cm;
}
/* .carousel-item .bg2{
    background-image: url(images/slide4.webp);
}
.carousel-item .bg3{
    background-image: url(images/bg3slide.jpg);
} */
.carousel-item .slide{
    color: #000;
    line-height: 1.5;
}
.carousel-item .logoslide img{
    width: 500px;
}
.carousel-item .slide h3{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--main-color);
}
.carousel-item .slide h1{
    font-size: 50px;
}
.carousel-item .slide button{
    margin: 1cm 0;
    background-color: var(--main-color);
    color: #fff;
    padding: 7px 35px;
    border-radius: 20px 0;
    border: 1px solid #fff;
    font-weight: bold;
    transition: all 1s;
    cursor: pointer;
}
/* dishes style */
.dishes{
    background-color: #fff;
    padding: .3cm 1cm;
}
.dishes-box {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto)); 
    gap: 20px;
}
.dishes-box section{
    width: 100%;
    background-color: #fff;
    text-align: center;
    line-height: 1.5;
    border: 10px solid #f4f4f4;
    margin: 0 auto;
}
.dishes-box section .img{
    height: 4.7cm;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation:img 2s linear 1
}
@keyframes img{
    0%,100%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(10deg);
    }
}
.dishes-box section img{
    width: 200px;
}
.dishes-box section .stars {
    color: gold;
    font-size: 20px;
}
.dishes-box section .priceANDbtn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0 20px ;
}
.dishes-box section .priceANDbtn input{
    padding: 5px 7px;
    outline-color: var(--main-color);
}
.dishes-box section button{
    padding: 7px ;
    width: 70%;
    border: none;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}
/* about page */
.about-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1cm ;
}
.about-box .left img{
    width: 600px;
}
.about-box .right{
    line-height: 1.8;
    font-family: Arial, Helvetica, sans-serif;
}
.about-box .right .items{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
}
.about-box .right .items div{
    color: var(--main-color);
}
.about-box .right .items section{
    display: flex;
    align-items: center;
    padding: 7px;
    background-color: #fff;
    gap: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.112);
}
.about-box .right button{
    padding: 10px 35px;
    border: none;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 16px;
}
/* media responsive */
@media(max-width:1200px){
    .about-box {
        padding: .5cm ;
    }
    .about-box .left img{
        width: 450px;
    }
    .about-box .right .items{
        justify-content: center;
    }
}
@media(max-width:930px){
    .carousel-item .logoslide img{
        width: 350px;
    }
    .carousel-item .slide h3{
        font-size: 20px;
    }
    .carousel-item .slide h1{
        font-size: 35px;
    }
    .about-box {
        flex-direction: column;
        text-align: center;
    }
}
@media(max-width:770px){
    header .items-linkes {
        display: none;
    }
    header .bar-icon{
        display: block;
    }
    .about-box .right h1{
        font-size: 25px;
    }
    .carousel-item .bg1,
    .carousel-item .bg2,
    .carousel-item .bg3{
    flex-direction: column;
    justify-content: center;
    }
    .carousel-item .slide{
        color: #000;
        line-height: 1.2;
    }
    .carousel-item .logoslide img{
        width: 300px;
    }
}
@media(max-width:430px){
    .about-box .left img{
        width: 350px;
    }
}
@media(max-width:375px){
    .about-box .right h1{
        font-size: 20px;
    }
    .about-box .right p{
        font-size: 15px;
    }
    .about-box .right .items section{
        justify-content: space-around;
        width: 100%;
    }
}
@media(max-width:340px){
    body{
        width: 340px;
    }
}

/*=============================== CART ================================================= */
.cart-page,
.cart-page-open{
    position: fixed;
    z-index: 2000;
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
    padding-top: 1.5cm;
    padding-bottom: .5cm;
    display: none;
    overflow-y: scroll;
}
.cart-page-open{
    display: block;
}
.cart-page::-webkit-scrollbar{
    display: none;
}
.cart-page .close-cart{
    position: absolute;
    left: 30px;
    top: 20px;
    font-size: 25px;
    cursor: pointer;
}
.cart-page .null{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.cart-page .total{
    background-color: #fff;
    width: 6cm;
    margin:20px 5%;
    height: 2.3cm;
    padding: 10px;
}
.cart-page .total h3 span{
    border-bottom: 2px solid #f00;
    color: var(--main-color);
}
.cart-page .total button{
    width: 100%;
    padding: 6px;
    margin: 15px 0;
    cursor: pointer;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 5px;
}
.cart-page .total button:hover{
    background-color: #09a009;
}
.cart-page .cart section{
    width: 90%;
    padding: 5px 20px;
    background-color: #fff;
    margin: 10px auto;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
}
.cart-page .cart section h3{
    color: #000;
    text-transform: uppercase;
    width: 4.5cm;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.cart-page .cart section h2{
    font-size: 20px;
    width: 2cm;
}
.cart-page .cart section h2 span{
    color: var(--main-color);
    border-bottom: 2px solid #f00;
}
.cart-page .cart section .count-items{
    display: flex;
    align-items: center;
    gap: 10px;
}
.cart-page .cart section .count-items input{
    padding: 5px;
    outline-color: var(--main-color);
}
.cart-page .cart section img{
    width: 80px;
}
.cart-page .cart section .delete{
    color: #f00;
    font-size: 25px;
    cursor: pointer;
}
/* msg add and msg delete */
.msg-add{
    position: fixed;
    top: .5cm;
    z-index: 2000; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #222;
    color: #fff;
    padding: 7px 20px;
    border-radius: 5px;
}

@media(max-width:580px){
    .cart-page .cart section{
        width: 100%;
    }
    .cart-page .cart section h3{
        width: 3.7cm;
        font-size: 13px;
    }
    .cart-page .cart section h2{
        font-size: 15px;
        width: 1.5cm;
    }
    .cart-page .cart section .count-items{
        flex-direction: column;
        text-align: center;
    }
    .cart-page .cart section .count-items input{
        padding: 0 2px;
    }
    .cart-page .cart section img{
        width: 60px;
    }
    .cart-page .cart section .delete{
        font-size: 20px;
    }
}